VITE_WS_ENDPOINT=ws://localhost:3000
VITE_API_ENDPOINT=http://localhost:3000
VITE_COMMAND_PREFIX=%
VITE_SPONSOR_URL=https://ko-fi.com/remixbot
VITE_BOT_INVITE=https://app.revolt.chat/bot/01FVB28WQ9JHMWK8K7RD0F0VCW
VITE_SUPPORT_INVITE=http://rvlt.gg/Remix
