.content-container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
}

.form-container {
  background-color: #fff;
  color: black;
  padding: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

body {
  background-color: #172333;
}

button {
  /*background-color: #e9196c;*/
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #172333;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
}

.tooltip-container .tooltip {
    visibility: hidden;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
